.flex-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.flex-container-fill {
    flex-grow: 1;
    height: calc(100% - 100%); /*weird fix O.o*/
}

.c-children-spacing > * {
    padding: 0 4px 4px 4px;
}

.c-children-spacing > *:first-child {
    padding-top: 4px;
}

.query-control-elements > * {
    float: left;
    margin: 4px;
}

.query-control-elements-right {
    float: right;
}

.query-panel-spinner {
    float: right;
    padding-top: 3px;
}

.query-editor {
    height: calc(100% - 30px - 4px);
}

.query-editor .CodeMirror {
    height: 100%;
    border: solid 1px #ddd;
}

.query-editor-container {
    min-height: 100px;
    max-height: 50%;
    height: 200px;
    resize: vertical;
    overflow: hidden;
}